{% extends "base.html" %}


{% block title %} {{ 'Chatting' }} {% endblock %}

{% block content %}

    {{ contacts }}

    <form action="" method="post">
    {% csrf_token %}

        {% for message in messages %}
            <li>{{ message }}</li>
        {% endfor %}

     <input type="text" name="message"><br>
    <input type="submit" value="Send">

</form>
 {% endblock %}