{% extends "base.html" %}

{% block content %}
CHOOSE WHO YOU WANT TO TALK TO
    <form action="/chat/" method="get">
    {% csrf_token %}

        {% for contact in contacts %}
            <input name='selected' type="checkbox" value={{ contact.name }} > {{ contact.name }} <br>
        {% endfor %}

    <input type="submit" value="Submit">
</form>
 {% endblock %}
